* {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.building {
    position: relative;
    /* font-family: 'Saira Condensed', sans-serif; */
    font-family: monospace;
    font-size: 6em;
    overflow: hidden;
}

.building::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-left: 2px solid black;
    animation: typing 3s steps(22, start) forwards, cursor 1s infinite linear;
}

@keyframes typing {
    100% {
        left: 99%;
    }
}

@keyframes cursor {
    0% {
        border-color: transparent;
    }

    25% {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }

    75% {
        border-color: black;
    }

    100% {
        border-color: transparent;
    }
}